yfinance==0.2.58
webcolors==1.13
webencodings==0.5.1
tf_keras==2.16.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.36.0
seaborn==0.13.2
QuantStats==0.0.64
pandas==2.2.3
pandas-datareader==0.10.0
numpy==1.26.4
matplotlib==3.9.2
kaggle==1.6.12
keras==3.2.1
keras-tuner==1.4.7